<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhx.user.dao.UserPidMapper">
    <resultMap id="BaseResultMap" type="com.yhx.user.model.UserPid">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="pid" jdbcType="VARCHAR" property="pid"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
		pid,version,status,type,create_time,update_time
    </sql>

</mapper>